body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        color: #333;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      html {
        overflow: hidden;
      }
      #ul_top_hypers {
          display: flex;
          justify-content:space-around;
          list-style-type:none;
      }
      #weather {
        margin: 10px auto;
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 80%;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
      }
      #weather h2 {
        margin-top: 0;
        padding: 20px;
        background-color: #1abc9c;
        color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      #weather p {
        margin: 20px;
        font-size: 24px;
          margin: 10px;
          padding: 5px;
      }
      #weather img {
        width: 100px;
      }
      form {
        margin-top: 20px;
        display: flex;
          flex-direction: column;
          align-items: center;
      }
      form input[type="submit"]:hover {
        background-color: #16a085;
      }
      form input[type="submit"] {
        background-color: #1abc9c;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      form input[type="text"] {
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-right: 10px;
        font-size: 16px;
      }
      input[type="text"] {
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 200px;
      }
      input[type="submit"] {
        margin: 10px 10px;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        background-color: #1abc9c;
        color: #fff;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      footer {
        background-color: #1abc9c;
        color: white;
        padding: 20px;
        height: 100%;
        display: flex;
        bottom: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        justify-content: center;
        align-items: center;
      }
      footer a {
        color: #fff;
        text-decoration: none;
      }

      footer a:hover {
        text-decoration: underline;
      }
